<?php
// Exemplo da configuração do conexão com o banco oracle
// Criar arquivo oracle.php
return [
    'oracle' => [
        'driver' => 'oracle',
        'host' => '172.23.3.3',
        'port' => '1521',
        'database' => '',
        'service_name' => 'jfma.trf1.gov.br',
        'username' => '',
        'password' => '',
        'charset' => '',
        'prefix' => '',
    ]
];
